@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-image: url("./558894.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  color: white;
  height: 50px;
  align-items: center;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-bar h1 {
  font-weight: 300;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
}
ul li {
  list-style: none;
}
.nav-links {
  color: white;
  font-family: "Montserrat", sans-serif;
}

button {
  color: white;
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: transform 200ms ease-in-out;
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
button:hover {
  transform: scale(1.1);
}
.links-container {
  margin-top: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; */
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 500px;
  height: 550px;
  
}
